---
---

@import "{{ site.theme }}";

.responsive-container {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    border: thick;
}
  
.responsive-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all 0.5s ease-in-out;
}

.responsive-container:hover img {
    object-position: bottom;
}
  
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust for true centering */
    text-shadow: 2px 2px 0 white, -2px 2px 0 white, 2px -2px 0 white, -2px -2px 0 white;
}
