---
---

@import "{{ site.theme }}";

@media print {
    header {
      display: none;
    }
    body {
      font-size: 8pt;
    }
}

p.view {
    display: none;
}

footer {
    display: none;
}

.responsive-container {
    position: relative;
    width: 100%;
    height: 75px;
    overflow: hidden;
    margin-bottom: 10px;
    border: thin solid;
    border-radius: 3px;
}
  
.responsive-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all 0.5s ease-in-out;
}

.responsive-container:hover img {
    object-position: bottom;
}
  
.overlay-text {
    position: absolute;
    top: 10px;
    left: 10px;
    text-shadow:
        0px 1px 1px white,
        1px 1px 1px white,
        1px 0px 1px white,
        1px -1px 1px white,
        0px -1px 1px white,
        -1px -1px 1px white,
        -1px 0px 1px white,
        -1px 1px 1px white;
}
