html, body {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 90%;
  margin:0px;
  padding:0px;
  color: #454545;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #267CB9;
}
a:visited {
  color: none;
}
.card-img {
  transition: all 0.5s ease-in-out;
  object-fit: cover;
  object-position: top;
  height: 100%;
}
.card-img:hover {
  object-position: bottom;
}